In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import pickle
from os.path import join

In [2]:
path = '../Data'

In [5]:
df = pd.read_pickle(join(path, 'Clean Data', 'main_dataset.pkl'))

In [6]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,product_name,department_id,...,Gender,STATE,Age,date_joined,n_dependants,income,recoded_fam_status,profile,income_profile,region
0,2539329,1,1,2,8,11.0,196,0,Soda,7,...,Female,Alabama,31,2/17/2019,3,40423,married,family,low income,South
1,2398795,1,2,3,7,15.0,196,1,Soda,7,...,Female,Alabama,31,2/17/2019,3,40423,married,family,low income,South
2,473747,1,3,3,12,21.0,196,1,Soda,7,...,Female,Alabama,31,2/17/2019,3,40423,married,family,low income,South
3,2254736,1,4,4,7,29.0,196,1,Soda,7,...,Female,Alabama,31,2/17/2019,3,40423,married,family,low income,South
4,431534,1,5,4,15,28.0,196,1,Soda,7,...,Female,Alabama,31,2/17/2019,3,40423,married,family,low income,South

In [7]:
df.shape

(32404859, 22)

In [8]:
# Client wishes to exclude customer data for users that have less than 5 orders.
df['order_act'] = df.groupby('user_id')['order_number'].transform(lambda x: 'Low Activity' if x.max() <= 5 else 'High Activity')

In [9]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,product_name,department_id,...,STATE,Age,date_joined,n_dependants,income,recoded_fam_status,profile,income_profile,region,order_act
0,2539329,1,1,2,8,11.0,196,0,Soda,7,...,Alabama,31,2/17/2019,3,40423,married,family,low income,South,High Activity
1,2398795,1,2,3,7,15.0,196,1,Soda,7,...,Alabama,31,2/17/2019,3,40423,married,family,low income,South,High Activity
2,473747,1,3,3,12,21.0,196,1,Soda,7,...,Alabama,31,2/17/2019,3,40423,married,family,low income,South,High Activity
3,2254736,1,4,4,7,29.0,196,1,Soda,7,...,Alabama,31,2/17/2019,3,40423,married,family,low income,South,High Activity
4,431534,1,5,4,15,28.0,196,1,Soda,7,...,Alabama,31,2/17/2019,3,40423,married,family,low income,South,High Activity

In [10]:
df['order_act'].value_counts()

High Activity    30171424
Low Activity      2233435
Name: order_act, dtype: int64

In [11]:
df1 = df[df['order_act']!= 'Low Activity']

In [12]:
df1.shape

(30171424, 23)

In [14]:
del df

In [17]:
# creating sample data set to use moving forward.
np.random.seed(4)
dev = np.random.rand(len(df1)) <= 0.7

In [19]:
# Store 70% and 30% of the sample in dataframe big and small
big = df1[dev]
small = df1[~dev]

In [20]:
df2 = big

In [21]:
df2.shape

(21121346, 24)

In [22]:
df3 = small

In [23]:
df3.shape

(9050078, 24)

In [24]:
#saving data sets big and small
df2.to_pickle(join(path, 'Clean Data', 'final_data_big.pkl'))

In [25]:
df3.to_pickle(join(path, 'Clean Data', 'final_data_small.pkl'))

In [27]:
del df2

In [28]:
del df3